.content {
  font-size: 0.7em;
}

.content h3 {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  padding-left: 1em;
}

.content .list-block {
  margin: 0;
  font-size: .6rem;

}

.content .list-block .item-content {
  min-height: auto;
}

.content .list-block .item-inner {
  min-height: auto;
}

.content p {
  margin: 0.2em 0 0 0;
  padding-left: 1em;
}

.buttons-tab .button {
  font-size: .5rem;
  height: 1.5rem;
  line-height: 1.5rem;
}

.popup-qrcode {
  text-align: center;
}

.popup-qrcode .content-block {
  padding: 0;
  margin: 4em auto;
  width: 250px;
  height: 250px;
}