.recruitmentInfo-card {
  padding-bottom: 0.5em;
}

.recruitmentInfo-card .card-header {
  font-size: 14px;
  font-weight: bold;
}

.recruitmentInfo-card .card-content {
  font-size: 12px;
}

.recruitmentInfo-card .card-content .content-padded {
  margin: 0.5em 0 0.5em 0.5em;
}

.recruitmentInfo-card .card-content .row {
  margin-left: 0;
}

.recruitmentInfo-card .card-content .col-50 {
  margin-left: 0;
}

.recruitmentInfo-card .card-content .col-label {
  color: #aaa;
  width: 60px;
}

.recruitmentInfo-card .card-content .col-content {
  margin-left: 0;
  width: auto;
}

.recruitment-list a {
  color: #3d4145;
}

.sign-up-panel {
  overflow: hidden;
}

.sign-up-panel .button {
  width: 25%;
  float: right;
  margin-right: 2em;
}

.popup-qrcode {
  text-align: center;
}

.popup-qrcode .content-block {
  padding: 0;
  margin: 4em auto;
  width: 250px;
  height: 250px;
}