<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.andy.recruitment.dao.recruitment.mapper.RecruitmentApplicationMapper">
    <resultMap id="baseResultMap"
      type="com.andy.recruitment.dao.recruitment.entity.RecruitmentApplicationDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="recruitment_id" property="recruitmentId" jdbcType="BIGINT"/>
        <result column="recruitment_register_code" property="recruitmentRegisterCode"
          jdbcType="VARCHAR"/>
        <result column="patient_user_id" property="patientUserId" jdbcType="BIGINT"/>
        <result column="reference_user_id" property="referenceUserId" jdbcType="BIGINT"/>
        <result column="hospital_id" property="hospitalId" jdbcType="BIGINT"/>
        <result column="department_id" property="departmentId" jdbcType="BIGINT"/>
        <result column="status" property="status"
          typeHandler="com.andy.spring.mybatis.handler.MyBaseTypeHandler"/>
        <result column="disease_desc" property="diseaseDesc" jdbcType="VARCHAR"/>
        <result column="genetic_disease_desc" property="geneticDiseaseDesc" jdbcType="VARCHAR"/>
        <result column="disease_image" property="diseaseImage" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="baseColumnList">
        id,
        recruitment_id,
        recruitment_register_code,
        patient_user_id,
        reference_user_id,
        hospital_id,
        department_id,
        status,
        disease_desc,
        genetic_disease_desc,
        disease_image,
        created_by,
        created_time,
        updated_by,
        updated_time
    </sql>

    <select id="select" resultMap="baseResultMap"
      parameterType="com.andy.recruitment.dao.recruitment.entity.RecruitmentApplicationQuery">
        select
        <include refid="baseColumnList"/>
        from recruitment_application_record
        <where>
            <if test="applicationId != null">
                and id = #{applicationId, jdbcType=BIGINT}
            </if>
            <if test="recruitmentId != null">
                and recruitment_id = #{recruitmentId, jdbcType=BIGINT}
            </if>
            <if test="patientUserId != null">
                and patient_user_id = #{patientUserId, jdbcType=BIGINT}
            </if>
            <if test="referenceUserId != null">
                and reference_user_id = #{referenceUserId, jdbcType=BIGINT}
            </if>
            <if test="hospitalId != null">
                and hospital_id = #{hospitalId, jdbcType=BIGINT}
            </if>
            <if test="departmentId != null">
                and department_id = #{departmentId, jdbcType=BIGINT}
            </if>
            <if test="status != null">
                and status =
                #{status,typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler}
            </if>
            <if test="recruitmentRegisterCode != null and recruitmentRegisterCode != ''">
                and recruitment_register_code = #{recruitmentRegisterCode, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
      parameterType="com.andy.recruitment.dao.recruitment.entity.RecruitmentApplicationDO">
        insert into recruitment_application_record (<include refid="baseColumnList"/>)
        values(
        #{id,jdbcType=BIGINT},
        #{recruitmentId, jdbcType=BIGINT},
        #{recruitmentRegisterCode, jdbcType=VARCHAR},
        #{patientUserId, jdbcType=BIGINT},
        #{referenceUserId, jdbcType=BIGINT},
        #{hospitalId, jdbcType=BIGINT},
        #{departmentId, jdbcType=BIGINT},
        #{status, typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler},
        #{diseaseDesc, jdbcType=VARCHAR},
        #{geneticDiseaseDesc, jdbcType=VARCHAR},
        #{diseaseImage, jdbcType=VARCHAR},
        #{createdBy, jdbcType=VARCHAR},
        #{createdTime, jdbcType=TIMESTAMP},
        #{updatedBy, jdbcType=VARCHAR},
        #{updatedTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update"
      parameterType="com.andy.recruitment.dao.recruitment.entity.RecruitmentApplicationDO">
        update recruitment_application_record
        <set>
            <if test="status != null ">
                status = #{status, typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler},
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                updated_by=#{updatedBy, jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time=#{updatedTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>