<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.andy.recruitment.dao.reference.mapper.ReferenceInfoMapper">
    <resultMap id="baseResultMap" type="com.andy.recruitment.dao.reference.entity.ReferenceInfoDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="hospital_id" property="hospitalId" jdbcType="BIGINT"/>
        <result column="department_id" property="departmentId" jdbcType="BIGINT"/>
        <result column="medical_institution" property="medicalInstitution" jdbcType="VARCHAR"/>
        <result column="medical_category" property="medicalCategory" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="status" property="status"
          typeHandler="com.andy.spring.mybatis.handler.MyBaseTypeHandler"/>
        <result column="role" property="referenceRole"
          typeHandler="com.andy.spring.mybatis.handler.MyBaseTypeHandler"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="baseColumnList">
        id,
        user_id,
        hospital_id,
        department_id,
        medical_institution,
        medical_category,
        remark,
        role,
        status,
        created_by,
        created_time,
        updated_by,
        updated_time
    </sql>
    <select id="select" resultMap="baseResultMap"
      parameterType="com.andy.recruitment.dao.reference.entity.ReferenceInfoQuery">
        select
        d.id,d.user_id,d.hospital_id,d.department_id,d.medical_institution,d.medical_category,
        d.remark,d.role,d.status,d.created_by,d.created_time,d.updated_by,d.updated_time
        from reference_info d inner join user_info u on (d.user_id = u.id)
        <where>
            <if test="referenceId != null">
                and d.id = #{referenceId, jdbcType=BIGINT}
            </if>
            <if test="userId != null">
                and d.user_id = #{userId, jdbcType=BIGINT}
            </if>
            <if test="hospitalId != null">
                and d.hospital_id = #{hospitalId, jdbcType=BIGINT}
            </if>
            <if test="departmentId != null">
                and d.department_id = #{departmentId, jdbcType=BIGINT}
            </if>
            <if test="status != null">
                and d.status =
                #{status,typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler}
            </if>
            <if test="realName != null and realName != ''">
                and u.real_name like CONCAT('%', #{realName,jdbcType=VARCHAR},'%')
            </if>
            <if test="phoneLike != null and phoneLike != ''">
                and u.phone like CONCAT('%', #{phoneLike,jdbcType=VARCHAR},'%')
            </if>
            <if test="userIdList != null">
                and d.user_id in
                <foreach collection="userIdList" item="userId" index="index"
                  open="(" close=")"
                  separator=",">
                    #{userId,jdbcType=BIGINT}
                </foreach>
            </if>
        </where>
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
      parameterType="com.andy.recruitment.dao.reference.entity.ReferenceInfoDO">
        insert into reference_info (<include refid="baseColumnList"/>)
        values(
        #{id,jdbcType=BIGINT},
        #{userId, jdbcType=BIGINT},
        #{hospitalId, jdbcType=BIGINT},
        #{departmentId, jdbcType=BIGINT},
        #{medicalInstitution, jdbcType=VARCHAR},
        #{medicalCategory, jdbcType=VARCHAR},
        #{remark, jdbcType=VARCHAR},
        #{referenceRole,typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler},
        #{status,typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler},
        #{createdBy, jdbcType=VARCHAR},
        #{createdTime, jdbcType=TIMESTAMP},
        #{updatedBy, jdbcType=VARCHAR},
        #{updatedTime, jdbcType=TIMESTAMP}
        )
    </insert>
    <update id="update" parameterType="com.andy.recruitment.dao.reference.entity.ReferenceInfoDO">
        update reference_info
        <set>
            <if test="hospitalId != null">
                hospital_id = #{hospitalId, jdbcType=BIGINT},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId, jdbcType=BIGINT},
            </if>
            <if test="medicalInstitution != null and medicalInstitution != ''">
                medical_institution = #{medicalInstitution, jdbcType=VARCHAR},
            </if>
            <if test="medicalCategory != null and medicalCategory != ''">
                medical_category = #{medicalCategory, jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark, jdbcType=VARCHAR},
            </if>
            <if test="status != null ">
                status = #{status, typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler},
            </if>
            <if test="referenceRole != null ">
                role =
                #{referenceRole, typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler},
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                updated_by = #{updatedBy, jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null ">
                updated_time = #{updatedTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>
