<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andy.recruitment.dao.admin.mapper.AdministratorInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap"
      type="com.andy.recruitment.dao.admin.entity.AdministratorInfoDO">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="type" property="type"
          typeHandler="com.andy.spring.mybatis.handler.MyBaseTypeHandler"/>
        <result column="status" property="status"
          typeHandler="com.andy.spring.mybatis.handler.MyBaseTypeHandler"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, `type`, status, created_by, created_time, updated_by, updated_time
    </sql>

    <select id="select" resultMap="BaseResultMap"
      parameterType="com.andy.recruitment.dao.admin.entity.AdministratorQuery">
        select
        a.id, a.user_id, a.type, a.status,
        a.created_by, a.created_time, a.updated_by, a.updated_time
        from administrator_info a inner join user_info u on (a.user_id = u.id)
        <where>
            <if test="userId != null">
                and a.user_id = #{userId, jdbcType=BIGINT}
            </if>
            <if test="adminId != null">
                and a.id = #{adminId, jdbcType=BIGINT}
            </if>
            <if test="name != null and name != ''">
                and u.real_name like CONCAT('%', #{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="phoneLike != null and phoneLike != ''">
                and u.phone like CONCAT('%', #{phoneLike,jdbcType=VARCHAR},'%')
            </if>
            <if test="phone != null and phone != ''">
                and u.phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="userIdList != null">
                and u.user_id in
                <foreach collection="userIdList" item="userId" index="index"
                  open="(" close=")"
                  separator=",">
                    #{userId,jdbcType=BIGINT}
                </foreach>
            </if>
            <if test="type != null">
                and a.type =
                #{type,typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler}
            </if>
            <if test="status != null">
                and a.status =
                #{status,typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler}
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
      parameterType="com.andy.recruitment.dao.admin.entity.AdministratorInfoDO">
        insert into administrator_info (
        <include refid="Base_Column_List"/>
        )
        values(
        #{id, jdbcType=BIGINT},
        #{userId, jdbcType=BIGINT},
        #{type, typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler},
        #{status, typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler},
        #{createdBy, jdbcType=VARCHAR},
        #{createdTime, jdbcType=TIMESTAMP},
        #{updatedBy, jdbcType=VARCHAR},
        #{updatedTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update"
      parameterType="com.andy.recruitment.dao.admin.entity.AdministratorInfoDO">
        update administrator_info
        <set>
            <if test="type != null and type != ''">
                `type`=#{type, typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler},
            </if>
            <if test="status != null and status != ''">
                status=#{status, typeHandler=com.andy.spring.mybatis.handler.MyBaseTypeHandler},
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                updated_by=#{updatedBy, jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null">
                updated_time=#{updatedTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where id =#{id, jdbcType=BIGINT}
    </update>

</mapper>
