<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.andy.recruitment.dao.user.mapper.UserInfoMapper">
    <resultMap id="baseResultMap" type="com.andy.recruitment.dao.user.entity.UserInfoDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="open_id" property="openId" jdbcType="VARCHAR"/>
        <result column="union_id" property="unionId" jdbcType="VARCHAR"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="gender" property="gender"
          typeHandler="com.soyoung.base.mybatis.handler.MyBaseTypeHandler"/>
        <result column="status" property="status"
          typeHandler="com.soyoung.base.mybatis.handler.MyBaseTypeHandler"/>
        <result column="created_by" property="createdBy" jdbcType="VARCHAR"/>
        <result column="created_time" property="createdTime" jdbcType="TIMESTAMP"/>
        <result column="updated_by" property="updatedBy" jdbcType="VARCHAR"/>
        <result column="updated_time" property="updatedTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="baseColumnList">
        id,
        open_id,
        union_id,
        nickname,
        real_name,
        phone,
        password,
        gender,
        status,
        created_by,
        created_time,
        updated_by,
        updated_time
    </sql>

    <select id="select" resultMap="baseResultMap"
      parameterType="com.andy.recruitment.dao.user.entity.UserQuery">
        select
        <include refid="baseColumnList"/>
        from user_info
        <where>
            <if test="userId != null">
                and id = #{userId, jdbcType=BIGINT}
            </if>
            <if test="openId != null and openId != ''">
                and open_id = #{openId, jdbcType=VARCHAR}
            </if>
            <if test="unionId != null and unionId != ''">
                and union_id = #{unionId, jdbcType=VARCHAR}
            </if>
            <if test="realName != null and realName != ''">
                and real_name like CONCAT('%', #{realName,jdbcType=VARCHAR},'%')
            </if>
            <if test="phoneLike != null and phoneLike != ''">
                and phone like CONCAT('%', #{phoneLike,jdbcType=VARCHAR},'%')
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone, jdbcType=VARCHAR}
            </if>
            <if test="password != null and password != ''">
                and password = #{password, jdbcType=VARCHAR}
            </if>
            <if test="gender != null">
                and gender =
                #{gender,typeHandler=com.soyoung.base.mybatis.handler.MyBaseTypeHandler}
            </if>
            <if test="status != null">
                and status =
                #{status,typeHandler=com.soyoung.base.mybatis.handler.MyBaseTypeHandlerr}
            </if>
        </where>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
      parameterType="com.andy.recruitment.dao.user.entity.UserInfoDO">
        insert into user_info (<include refid="baseColumnList"/>)
        values(
        #{id,jdbcType=BIGINT},
        #{openId, jdbcType=VARCHAR},
        #{unionId, jdbcType=VARCHAR},
        #{nickname, jdbcType=VARCHAR},
        #{realName, jdbcType=VARCHAR},
        #{phone, jdbcType=VARCHAR},
        #{password, jdbcType=VARCHAR},
        #{gender,typeHandler=com.soyoung.base.mybatis.handler.MyBaseTypeHandler},
        #{status,typeHandler=com.soyoung.base.mybatis.handler.MyBaseTypeHandler},
        #{createdBy, jdbcType=VARCHAR},
        #{createdTime, jdbcType=TIMESTAMP},
        #{updatedBy, jdbcType=VARCHAR},
        #{updatedTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="update" parameterType="com.andy.recruitment.dao.user.entity.UserInfoDO">
        update user_info
        <set>
            <if test="openId != null and openId != ''">
                open_id = #{openId, jdbcType=VARCHAR},
            </if>
            <if test="unionId != null and unionId != ''">
                union_id = #{unionId, jdbcType=VARCHAR},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname, jdbcType=VARCHAR},
            </if>
            <if test="realName != null and realName != ''">
                real_name = #{realName, jdbcType=VARCHAR},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone, jdbcType=VARCHAR},
            </if>
            <if test="gender != null ">
                gender = #{gender, typeHandler=com.soyoung.base.mybatis.handler.MyBaseTypeHandler},
            </if>
            <if test="status != null ">
                status = #{status, typeHandler=com.soyoung.base.mybatis.handler.MyBaseTypeHandler},
            </if>
            <if test="userType != null ">
                user_type =
                #{userType, typeHandler=com.soyoung.base.mybatis.handler.MyBaseTypeHandler},
            </if>
            <if test="updatedBy != null and updatedBy != ''">
                updated_by = #{updatedBy, jdbcType=VARCHAR},
            </if>
            <if test="updatedTime != null ">
                updated_time = #{updatedTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{userId,jdbcType=BIGINT}
    </update>
    <delete id="delete">
        delete from user_info where id = #{userId,jdbcType=BIGINT}
    </delete>
</mapper>


